In [4]:
import pandas as pd
import numpy as np
import datetime
import random

# Series
## Random date series between two dates

In [5]:
# Generate list of random dates
start = datetime.date(2018,1,1)
end = datetime.date(2018,12,31)
dates = [start + (end-start)* random.random() for i in range(6)]
dates

[datetime.date(2018, 5, 27),
 datetime.date(2018, 11, 6),
 datetime.date(2018, 7, 31),
 datetime.date(2018, 6, 20),
 datetime.date(2018, 6, 4),
 datetime.date(2018, 11, 13)]

## Random int Series

In [28]:
pd.Series(np.random.randint(2, high=10, size=5), name='Value')

0    3
1    2
2    6
3    8
4    7
Name: Value, dtype: int32

## Random Letter Series

In [33]:
import string, random
pd.Series(random.choice(string.ascii_uppercase) for _ in range(10))

0    S
1    P
2    K
3    O
4    M
5    P
6    L
7    E
8    D
9    P
dtype: object

## Random letter + number series
(for e.g. machine number generation)

In [71]:
['N'+ str(random.randint(i, i+5)) for i in range(6)]

['N2', 'N3', 'N2', 'N5', 'N7', 'N6']

## Sample dataframe and dictionary

In [4]:
import pandas as pd
import numpy as np

i = ['dog', 'cat', 'rabbit', 'elephant'] * 3

df = pd.DataFrame(np.random.randn(len(i), 2), index=i, columns=list('AB'))
df

                 A         B
dog       0.570091 -0.016479
cat       1.627092  0.851708
rabbit   -2.245752  0.932566
elephant -0.680759 -0.367488
dog       1.213193 -0.682809
cat       0.223349  1.111415
rabbit    1.339825  0.352325
elephant  1.488095 -0.119866
dog       1.006355  0.176992
cat       0.403359 -1.396385
rabbit    0.179236 -1.100523
elephant  0.927701  1.307578

In [2]:
b_dict = {'elephant': 2.0, 'dog': 5.0}
b_dict

{'elephant': 2.0, 'dog': 5.0}